
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-7">
                    <Form @submit="onSubmit" id="form-basket" :validation-schema="schema" v-slot="{ errors }">
                    <!-- Billing Details -->
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Одержувач</h3>
                        </div>

                        <div class="row">
                            <div class="col-md-4 form-group" >

<!--LAST NAME-->
                                <Field
                                        class="input form-control"
                                        :class="{ 'is-invalid': errors['recipient.last_name'] }"
                                        type="text"
                                        v-model="form.recipient.last_name"
                                        name="recipient.last_name" placeholder="Прізвище" />

                                <div class="invalid-feedback">
                                    <ErrorMessage name="recipient.last_name" />
                                </div>

                            </div>

<!-- FIRST NAME                           -->
                            <div class="col-md-4 form-group" >
                                <Field
                                        :class="{ 'is-invalid': errors['recipient.first_name'] }"
                                        class="input form-control"
                                        type="text"
                                        v-model="form.recipient.first_name"
                                        name="recipient.first_name"
                                        placeholder="Ім'я"/>
                                <div class="invalid-feedback">
                                    <ErrorMessage name="recipient.first_name" />
                                </div>
                            </div>

<!-- MEDDLE NAME                           -->
                            <div class="col-md-4 form-group" >
                                <Field
                                        class="input form-control"
                                        :class="{ 'is-invalid': errors['recipient.middle_name'] }"
                                        type="text"
                                        v-model="form.recipient.middle_name"
                                        name="recipient.middle_name"
                                        placeholder="По батькові"/>
                                <div class="invalid-feedback">
                                    <ErrorMessage name="recipient.middle_name" />
                                </div>
                            </div>
                        </div>

<!--EMAIL-->
                        <div class="row">
                            <div class="col-md-6 form-group" >
                                <Field
                                       class="input form-control"
                                       :class="{ 'is-invalid': errors['recipient.email'] }"
                                       type="email"
                                       v-model="form.recipient.email"
                                       name="recipient.email"
                                        placeholder="Email"/>
                                <div class="invalid-feedback">
                                    <ErrorMessage name="recipient.email" />
                                </div>
                            </div>

<!-- PHONE                           -->
                            <div class="col-md-6 form-group" >
                                <Field
                                        class="form-control input"
                                        :class="{ 'is-invalid': errors['recipient.phone'] }"
                                       placeholder="+38(___)___-__-__"
                                       v-phone-mask="'+38(___)___-__-__'"
                                       v-model.lazy="form.recipient.phone"
                                       name="recipient.phone"
                                />

                                    <div class="invalid-feedback">
                                        <ErrorMessage name="recipient.phone" />
                                    </div>
                            </div>
                        </div>

<!--RECIPIENT CITY-->
                        <div class="form-group">
                            <Field v-slot="{ field }"
                                   v-model="form.recipient.city"
                                   name="recipient.city">

                                <VueMultiselect
                                        v-model="form.recipient.city"
                                        id="ajax"
                                        label="text"
                                        name="recipient.city"
                                        track-by="id"
                                        placeholder="Місто"
                                        open-direction="bottom"
                                        :class="{ 'is-invalid': errors['recipient.city'] }"
                                        :options="addressStore.citiesRecipient"
                                        :searchable="true"
                                        :internal-search="false"
                                        :clear-on-select="true"
                                        :close-on-select="true"
                                        :options-limit="300"
                                        :limit="3"
                                        :max-height="600"
                                        :show-no-results="false"
                                        @search-change="searchRecipientCity"
                                        @select="selectedRecipientCity"
                                >
                                </VueMultiselect>
                                <div class="invalid-feedback">
                                    <ErrorMessage name="recipient.city" />
                                </div>
                            </Field>
                        </div>

<!-- RECIPIENT STREET                       -->
                        <div class="form-group">
                            <Field v-slot="{ field }"
                                   v-model="form.recipient.street"
                                   name="recipient.street">

                                <VueMultiselect
                                        v-model="form.recipient.street"
                                        id="ajax"
                                        label="text"
                                        track-by="id"
                                        placeholder="Вулиця"
                                        open-direction="bottom"
                                        :class="{ 'is-invalid': errors['recipient.street']}"
                                        :options="addressStore.streets"
                                        :searchable="true"
                                        :internal-search="false"
                                        :clear-on-select="true"
                                        :close-on-select="true"
                                        :options-limit="300"
                                        :limit="3"
                                        :max-height="600"
                                        :show-no-results="false"
                                >
                                </VueMultiselect>

                                <div class="invalid-feedback">
                                    <ErrorMessage name="recipient.street"/>
                                </div>
                            </Field>
                        </div>


                        <div class="row">

                            <div class="col-md-6 form-group">
                                <Field
                                        class="input form-control"
                                        type="text"
                                        :class="{ 'is-invalid': errors['recipient.house']}"
                                        v-model="form.recipient.house"
                                        name="recipient.house"
                                        placeholder="Номер будинку"/>

                                <div class="invalid-feedback">
                                    <ErrorMessage name="recipient.house"/>
                                </div>
                            </div>

                            <div class="col-md-6 form-group" >
                                <Field
                                        class="input form-control"
                                        :class="{ 'is-invalid': errors['recipient.flat']}"
                                        type="text"
                                        v-model="form.recipient.flat"
                                        name="recipient.flat"
                                        placeholder="Номер квартири"/>

                                <div class="invalid-feedback">
                                    <ErrorMessage name="recipient.flat"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Billing Details -->



                    <!-- Delivery Address -->
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">АДРЕСА ДОСТАВКИ</h3>
                        </div>


                        <ul class="body-right-list form-group">
                            <li>
                                <label for="dp-courier" class="tabs-title" :class="{active:form.address_delivery.delivery_type === 'meest_courier'}">
                                    <i class="icon-courier-off"></i>
                                    <i class="icon-courier-on"></i>
                                    <span>Курьер</span>


                                    <input
                                            style="display: none"
                                            name="address_delivery_type"
                                            type="radio"
                                            v-model="form.address_delivery.delivery_type"
                                            id="dp-courier"
                                            value="meest_courier">
                                </label>

                            </li>
                            <li >
                                <label
                                        for="dp-nova_poshta"
                                        class="tabs-title"
                                        :class="{active:form.address_delivery.delivery_type === 'nova_poshta'}">
                                    <i class="icon-NP-off"></i>
                                    <i class="icon-NP-on"></i>
                                    <span>Нова почта</span>

                                    <Field
                                            style="display: none"
                                            name="address_delivery.delivery_type"
                                            type="radio"
                                            v-model="form.address_delivery.delivery_type"
                                            id="dp-nova_poshta"
                                            value="nova_poshta"/>

                                </label>
                            </li>

                            <li class="tabs-title tabs-title-click-off">
                                <i class="icon-UK-off"></i>
                                <i class="icon-UK-on"></i>
                                <span>
										Укрпочта
									</span>
                            </li>

                            <li>

                                <label
                                        for="dp-meest_apt"
                                        class="tabs-title"
                                        :class="{active:form.address_delivery.delivery_type === 'meest_apt'}">

                                    <i class="icon-ATP-off"></i>
                                    <i class="icon-ATP-on"></i>
                                    <span>АПТ</span>
                                    <input
                                            style="display: none"
                                            name="address_delivery_type"
                                            type="radio"
                                            v-model="form.address_delivery.delivery_type"
                                            id="dp-meest_apt"
                                            value="meest_apt">
                                </label>
                            </li>
                            <li >

                                <label
                                        for="dp-meest_point"
                                        class="tabs-title"
                                        :class="{active:form.address_delivery.delivery_type === 'meest_point'}"
                                >
                                    <i class="icon-MP-off"></i>
                                    <i class="icon-MP-on"></i>
                                    <span>Meest Point</span>
                                    <input
                                            style="display: none"
                                            name="address_delivery_type"
                                            type="radio"
                                            v-model="form.address_delivery.delivery_type"
                                            id="dp-meest_point"
                                            value="meest_point"
                                    >
                                </label>
                            </li>
                        </ul>

                        <ErrorMessage as="div" class="invalid-feedback" style="display: block" name="address_delivery.delivery_type"/>


                        <div
                                v-if:="['nova_poshta','meest_point','meest_apt'].includes(form.address_delivery.delivery_type)"
                                class="form-group">

                            <VueMultiselect
                                    v-model="form.address_delivery.city"
                                    id="ajax"
                                    label="text"
                                    track-by="id"
                                    placeholder="Місто"
                                    open-direction="bottom"
                                    :options="addressStore.cities"
                                    :searchable="true"
                                    :internal-search="false"
                                    :clear-on-select="true"
                                    :close-on-select="true"
                                    :options-limit="300"
                                    :limit="3"
                                    :max-height="600"
                                    :show-no-results="false"

                                    @search-change="searchChangeCity"
                                    @select="asyncWarehouses"
                            >


                            </VueMultiselect>
                        </div>

                        <div
                                v-if:="['nova_poshta','meest_point','meest_apt'].includes(form.address_delivery.delivery_type)"
                                class="form-group">

                            <VueMultiselect
                                    v-model="form.address_delivery.warehouse"
                                    id="warehouse"
                                    label="text"
                                    track-by="id"
                                    placeholder="Відділення"
                                    open-direction="bottom"
                                    :options="addressStore.filteredWarehouses"
                                    :searchable="true"
                                    :internal-search="false"
                                    :clear-on-select="false"
                                    :close-on-select="true"
                                    :options-limit="300"
                                    :limit="3"
                                    :max-height="600"
                                    :show-no-results="false"
                                    @search-change="addressStore.searchWarehouses"

                            >

                            </VueMultiselect>
                        </div>


                    </div>
                    <!-- /Delivery Address -->

                    <!-- Order notes -->
                    <div class="order-notes">
                        <textarea class="input" placeholder="Примітки до замовлення"></textarea>
                    </div>
                    <!-- /Order notes -->
                    </Form>
                </div>

                <!-- Order Details -->
                <div class="col-md-5 order-details">
                    <div class="section-title text-center">
                        <h3 class="title">ВАШЕ ЗАМОВЛЕННЯ</h3>
                    </div>
                    <div class="order-summary">
                        <div class="order-col">
                            <div><strong>ТОВАРИ</strong></div>
                            <div><strong>РАЗОМ</strong></div>
                        </div>
                        <div class="order-products">
                            <div v-for="product in basketStore.products" :key="product.id" class="order-col">
                                <div class="product-widget">
                                    <div class="product-img">
                                        <img :src="this.$storageUrl+'/'+product.image_main.name" alt="">
                                    </div>
                                    <div class="product-body">
                                        <h3 class="product-name"><a href="#">{{ product.name }}</a></h3>

                                            <div class="quantity">
                                                <a
                                                        :class="{disabled:product.quantity===1}"
                                                        class="quantity__minus "
                                                        v-on:click="product.quantity--" >
                                                    <span>-</span>
                                                </a>

                                                <input
                                                        name="quantity"
                                                        type="text"
                                                        class="quantity__input"
                                                       :value="product.quantity">

                                                <a
                                                        v-on:click="product.quantity++"
                                                        class="quantity__plus">
                                                    <span>+</span>
                                                </a>
                                            </div>
                                    </div>
                                </div>
                                <div>{{ product.price * product.quantity }} грн</div>
                            </div>

                        </div>
<!--                        <div class="order-col">-->
<!--                            <div>Shiping</div>-->
<!--                            <div><strong>FREE</strong></div>-->
<!--                        </div>-->
                        <div class="order-col">
                            <div><strong>РАЗОМ</strong></div>
                            <div><strong class="order-total">{{basketStore.sum}} грн</strong></div>
                        </div>
                    </div>
                    <div class="input-checkbox">
                        <input type="checkbox" v-model="isAgree" id="terms">
                        <label for="terms">
                            <span></span>
<!--                            I've read and accept the <a href="#">terms & conditions</a>-->
                           Підтверджую замовлення і погоджуюсь на обробку даних
                        </label>
                    </div>
                    <button :disabled="!isAgree"  form="form-basket"  type="submit" style="width: 100%"  class="primary-btn order-submit">Замовити</button>
<!--                    <button   form="form-basket"  type="submit" style="width: 100%"  class="primary-btn order-submit">TEST</button>-->


                </div>
                <!-- /Order Details -->




            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->


